@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
	box-sizing: border-box;
}

html,
body,
h1 {
	margin: 0;
	padding: 0;
}

header,
nav,
main,
footer {
	display: block;
}

body {
	color: #D2B48C;
	background-color: #161b24;
	font-family: Montserrat, Arial, sans-serif;
	background-image: url(images/pattern.jpg);
	font-size: 1.2em;
}

header {
	padding: 2rem;
    background-color: #0e111a;
	border-bottom: 1px solid #e6d9c3;
}

#logo {
	text-align: center;
}

#logo a {
	display: inline-block;
	max-width: 220px;
	margin: 0 auto;
}

#logo img {
	max-width: 100%;
}

h1 {
	margin-top: 4rem;
	text-align: center;
}

h1 img {
	display: inline-block;
    max-width: 100%;
    width: 450px;
    padding: 0 2rem;
}

.sandwiches {
	display: block;
	margin: 0 auto;
	max-width: 650px;
	width: 90%;
}

.recipe {
	font-size: 1.5em;
}

#recipelist {
	text-align: center;
}

#recipelist a {
	display: inline-block;
	border-bottom: 2px solid #f89b41;
	transition: all .4s;
	letter-spacing: 1px;
	font-weight: 600;
}

#recipelist a:link {
	color: #f89b41;
	text-decoration: none;
}

#recipelist a:visited {
	color: #f89b41;
}

#recipelist a:hover {
	color: #f3c26e;
	border-bottom: 2px solid #f3c26e;
}

#recipelist a + span {
	display: block;
	padding-top: .75rem;
}

#recipelist ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	list-style-type: none;
	padding-left: 0;
	margin: 6rem 2rem 4rem;
}

#recipelist li {
	line-height: 1.4;
	margin-bottom: 3rem;
}

main {
	padding: 0 0 2em 0;
	display: block;
}

#wrapper {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	min-width: 900px;
	max-width: 1280px;
}

#mobile {
	display: none;
}

#desktop {
	display: inline;
}

@media only screen and (max-width: 1024px) {
	body {
		margin: 0;
	}

	#wrapper {
		width: auto;
		min-width: 0;
		margin: 0;
		padding: 0;
	}

	main {
		font-size: 90%;
	}

	#recipelist ul {
		grid-template-columns: 1fr;
		margin: 3rem 2rem 5rem;
	}
}

@media only screen and (max-width: 768px) {

	#recipes {
		margin: 0;
	}

	main {
		padding-top: 1px;
	}

	#mobile {
		display: inline;
	}

	#desktop {
		display: none;
	}
}